<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

	<Properties>
		<!-- 日志输出级别 -->
		<Property name="LOG_INFO_LEVEL" value="info"/>
		<!-- error级别日志 -->
		<Property name="LOG_ERROR_LEVEL" value="error"/>
		<!-- 在当前目录下创建名为log目录做日志存放的目录 -->
		<Property name="LOG_HOME" value="./log"/>
		<!-- 档案日志存放目录 -->
		<Property name="LOG_ARCHIVE" value="./log/archive"/>
		<!-- 模块名称， 影响日志配置名，日志文件名，根据自己项目进行配置 -->
		<Property name="LOG_MODULE_NAME" value="spring-boot"/>
		<!-- 日志文件大小，超过这个大小将被压缩 -->
		<Property name="LOG_MAX_SIZE" value="100 MB"/>
		<!-- 保留多少天以内的日志 -->
		<Property name="LOG_DAYS" value="15"/>
		<!--输出日志的格式：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度， %msg：日志消息，%n是换行符 -->
		<Property name="LOG_PATTERN" value="%d [%t] %-5level %logger{0} - %msg%n"/>
		<!--interval属性用来指定多久滚动一次-->
		<Property name="TIME_BASED_INTERVAL" value="1"/>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n" />
		</Console>

		<RollingRandomAccessFile name="demo"
								 fileName="/tmp/server.log"
								 filePattern="/tmp/server-%d{yyyy-MM-dd}-%i.log.gz"
								 immediateFlush="false">
			<Filters>
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
			<PatternLayout pattern="${LOG_PATTERN}"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="${TIME_BASED_INTERVAL}"/>
				<SizeBasedTriggeringPolicy size="${LOG_MAX_SIZE}"/>
			</Policies>
			<DefaultRolloverStrategy max="${LOG_DAYS}"/>
		</RollingRandomAccessFile>

	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="demo"/>
		</Root>
		<logger name="slick" level="INFO" />
		<logger name="slick.jdbc" level="DEBUG" />
	</Loggers>
</Configuration>